.main {
  margin: 10% 5%;
}

.product1 {
  box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
}
