.main {
  margin: 5%;
}

.product1 {
  box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 32px -6px rgba(0, 0, 0, 0.75);
}

.link{
  text-decoration: none!important;
  color: white!important;
}

.cart-container table{
  width: 80%;
}

td{
  padding: 1rem;
  border: 1px solid gray!important;
}

.price-details{
  height: 50%;
  width: 20%;
}